[Unit]
Description=Sinopia
After=etcd.service
After=docker.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
KillMode=none   
ExecStartPre=-/usr/bin/docker kill sinopia
ExecStartPre=-/usr/bin/docker rm sinopia
ExecStartPre=/usr/bin/docker pull rnbwd/sinopia
ExecStartPre=/usr/bin/docker run --name sinopia \
      -p -p 4873:4873 -d rnbwd/sinopia 
ExecStartPre=/usr/bin/docker kill sinopia
ExecStartPre=-/usr/bin/docker run --volumes-from sinopia \
      -v /var/sinopia:/backup \
      --rm node:slim tar xvf /backup/backup.tar 
ExecStart=/usr/bin/docker start -a sinopia 
ExecStop=/usr/bin/docker stop sinopia
ExecStopPost=/usr/bin/docker run --volumes-from sinopia \
      -v /var/sinopia:/backup \
      --rm node:slim tar cvf /backup/backup.tar /opt/sinopia

[X-Fleet]
# data-links
